body {
    margin: 0 auto;
    font-family: "Lato", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  
  padding:5px;
}

#logo {
  display: flex;
  font-weight: 800;
  font-size: 30px;
  color: rgb(133, 92, 248);
  align-items: center;
  justify-content: center;
  margin-left:40px;
}
#nav-tabs, #right{
    display: flex;
    align-items: center;
}
#right{
    margin-left: 30px;
    align-items: center;
    margin-top:2px;
    justify-content:flex-end;

}

#home{
    display: flex;
    color: gray;
    margin-left: 40px;
    margin-top: 3px;
}
.color{
    color: rgb(133, 92, 248);
}
#home-text, #home-icon, #home-message{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1vw;
    
}
#home-message, #home-text{
    font-family: "Lato", sans-serif;
}

#home-message {
    font-weight: 500;
}
.search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid gray;
    border-radius: 3px;
    width: 400px;
    height: 30px;
    flex-wrap: wrap;
    margin-left:7vw;
    padding-left:7px;
    margin-top:7px;
}

#noti{
    margin-left: 8px;
}
#welcome{
    margin-left: 20px;
    margin-right: 15px;
}

#content{
    display: flex;
    align-items: center;
    border-top: 1px solid gray;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    
    
}

sidebarItem {
    
    display: flex;
    align-items: center;
    
    margin-left: 3vw;
}
.item{
    margin-left: 40px;
    margin-right:90px;
    
}
contact{
    display:flex;
    flex:2;
    
    border-left: 1px solid gray;
}



#sidebar, #chat{
    border-right: 1px solid gray;
    height: 90vh;
}
#chat{
    border-left: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 5;
}

#messages{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    margin-bottom: 20vh;
    margin-top: 15px;

}
messageheader{
    display: flex;
    align-items: center;
    margin-right: 10vw;
    margin-left: 2vw;
    /* margin-bottom: 80vh; */
    font-weight: 600;
    font-size: 30px;
}
#ch{
    color: gray;
    margin-right: 15vw;
    margin-left: 2vw;
}

.member{
    display: flex;
    position: relative;
    align-items: center;
    padding-right: 15px;
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 2px 2px rgba(0,0,0,0.2);
    min-width: 90%;
}
.memberImg{
    border-radius:50%;
    height: 50px;
    width: 50px;
    margin: 10px;
}
#memberimg{
    margin-top: 4%;
    
}
.name{
    margin-left: 10px;
    margin-bottom: 0;
    font-weight: 550;
    
}

.i{
    /* margin-left: 10vw; */
position: absolute;
right:20px;
bottom:60%;

}

#ic{
    margin-left: 5vw;
    margin-top: 60vh;;
    color: gray;
}

#chatName{
    display: flex;
    align-items: center;
    position:relative;
}

#chatNameP{
    font-size: 15px;

}
#chatdots{
    margin-left: 40vw;
    font-size: 25px;
    color: gray;
}

#send{
    display: flex;
    align-items: center;
}

#bottom{
    display: flex;
    align-items: center;
    bottom: 50px;
    position: fixed;
}
.chatmsg{
    display: flex;
    /* margin:25px; */
    min-width:25vw;   
}

#chatpic{
    margin-top:15px;
}

#chatlist{
    margin-right: 15vw;
    margin-top: 5vh;
}
.chatmsgP{
    margin-left:20px;
}


.tiptxt {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
  }
  
  .tiptxt .text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tiptxt */
    position: absolute;
    z-index: 1;
  }
  
  .tiptxt:hover .text {
    visibility: visible;
  }

  .colorB{
      color:blue;
  }

  .message1{
      display:flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      /* justify-content: center; */
      /* flex-wrap: wrap; */

  }
 
   .msg1{
      margin:0px;
      /* margin-left:px; */
      font-size: 15px;
      color:gray;
      font-weight:545;
        position:absolute;
        top:55%;
        left:25%
        /* min-width:50%; */
  }  

  .hrs{
      position:absolute;
      bottom:3%;
      right:3%;
      font-size: 15px;
      color:gray;
  }

  #online{
      position:absolute;
      left:9%;
      top:50%;
  }